{% extends 'base.html' %} 
{% load static %}
{% block title %} home {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'accounts/css/home.css' %}"> {% endblock %}
{% block content %}
    {% for post in posts %} 
    <div class="home">
        <div class="homecover">
            <div class="imagepostcontainer">
            <div class="imagepost">
                {% if post.image %} 
                 <img src="{{ post.image.url }}" alt="Post Image">
                {% endif %}
            </div>
            </div>
            <div class="post">
                <div class="postbody">
                    <h5>
                         <i class="fa fa-user-circle" aria-hidden="true" style="color: green;"></i> <a href="{% url 'user_profile' username=post.user.username %}"> <span style="text-transform: capitalize;">{{ post.user.username }}</span></a> 
                    </h5>
                    <p style="color: gray;font-size: 12px;"> <i class="fa fa-calendar" aria-hidden="true" style="font-size: 12px;"></i>{{ post.created_at }}</p>
                    <p class="card-text fs-1 fw-semibold lh-lg">
                        {{ post.text }}
                    </p>
                </div>
                <div class="like" id="post-{{ post.id }}" style="display: flex;margin-left: 2%;">
                    <a href="{% url 'like_post' post.id %}" style="display: flex;font-size:28px;">
                        {% if request.user in post.likes.all %}
                           <p><i class="fa fa-thumbs-down" aria-hidden="true"></i></p>
                        {% else %}
                            <p style="font-size: 20px;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></p>
                        {% endif %}
                    </a>
                    <p style="margin-left: 3%;padding:5px;font-size:20px;"> {{ post.likes.count }}</p>
                </div>
                <div class="link">
                    <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Comment</a>
        
                </div>
            </div>
            
        </div>
        
    </div>
    {% endfor %}
    <script>
        window.onload = function() {
            if (window.location.hash) {
                const targetId = window.location.hash.substring(1); // Remove the '#'
                const targetElement = document.getElementById(targetId);
                if (targetElement) {
                    targetElement.scrollIntoView();
                }
            }
        };
    </script>
{% endblock %}

