{% extends 'base.html' %}
{% load static %}
{% block title %} message_datail {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'accounts/css/message_detail.css' %}"> {% endblock %}
        <!-- <h1>{{ message.subject }}</h1> -->
        <h1>{{ message.sender.username }}</h1>
        <!-- <p>To: {{ message.recipient.username }}</p> -->
        <p>{{ message.body }}</p>
        <p style="color: gray;font-size: 13px;">Sent at: {{ message.sent_at }}</p>
        <a href="{% url 'send_message_to' message.sender.username %}" class="btn  btn-primary" >Reply</a>
    </div>
    <br>
    </div>
{% endblock %}