.post-detail{
    border: 1px solid rgba(240, 233, 233, 0.977);
    background-color: #F8F8FF;
    margin-top: 3%;
    border-radius: 6px;;
}
.comment-container{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgba(240, 233, 233, 0.977); */
    /* background-color: rgba(240, 233, 233, 0.977; */
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    margin-top: 1.5%;
}
@media (max-width:500px){
    .comment-container{
        display: block;
    }
}
.image-info{
    width: 40%;
    background-color: #F0FFF0;
    /* border: 1px solid red; */
}
@media (max-width:500px){
    .image-info{
        width: 98%;
    }
}
.image-comments{
    width: 60%; 
    /* margin-top: 3%; */
    background-color: #FFFFFF;
    /* border: 1px solid red; */
}
@media (max-width:500px){
    .image-comments{
        width: 98%;
    }
}
.heading p{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 7px;
    margin-top: 3%;
}
@media (max-width:500px){
    .heading p{
        font-size: 15px;
    }
}
.head-image{
    margin: 1% 1%;
}
.image-comment img{
    height: 300px;
    width: 100%;
    border-radius: 6px;
}
.image-comments{
    margin-left: 1%;
}
.image-comments span{
    font-size: 13px;
    color: gray;

}

.form-container h3{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    color: dodgerblue;
    margin-top: 0%;
    text-align: center;
    font-weight: 600;
    /* text-decoration: underline; */
}
.form-comment{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(240, 233, 233, 0.977);
    background-color: #F0FFF0;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
}
@media (max-width:500px){
    .form-comment{
        display: block;
    }
}
.form{
    width: 38%;
    /* border: 1px solid red; */
}
@media (max-width:500px){
  .form{
    width: 98%;
    /* border: 1px solid red; */
}  
}
.Image-info{
    width: 60%;
    height: 40vh;
    overflow-y: scroll;
    /* border: 1px solid red; */
    /* margin-left: 4%; */
    background-color: #FFFFFF;
}
@media (max-width:500px){
    .Image-info{
      width: 97%;
      /* border: 1px solid red; */
  }  
  }
.form form{
    width: 100%;
}
form button{
    width: 40%;
    padding: 10px;
    font-size: 18px;
    text-transform: capitalize;
    /* background-color: red; */
    margin: 1% 3%;
}
form textarea{
    width: 100%;
    border: 1px solid darkgray;
    padding: 7px;
    color: rgb(3, 3, 31);
    margin: 2% 1%;
    border-radius: 6px;

}
form label{
    display: none;
}
.comment-sec{
    margin: 2% 3%;  
    text-transform: capitalize;
    
}
.comment-sec p{
    font-size: 18px;
    text-transform: capitalize;
}
.comment-sec a{
    border: 1px solid darkgray;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px;
}
.replies{
    margin: 1% 0%;
    /* border: 1px solid red; */
}
